.info-card-wrapper {
  .flex(column,space-around,center);
  width: 100%;
  .wrapper-head {
      width: 100%;
      padding-top: 1.875rem;
  }
  .transformDate {
    .flex(row,center,center);
    .datePicker-template {
      .flex(row,center,center);
      img {
        width: 1.875rem;
        height: 1.875rem;
      }
      span {
        font-size: 1.125rem;
        color: @titleColor;
      }
    }
  }
  .split{
      margin-top: 4%;
      border:1px solid rgb(218, 217, 217);
      width: 80%;
  }
  .perPhysicalImage{
      margin-top: 5%;
      width: 80%;
      min-height: 65vh;
    .delete-button{
        height: 100%;
        width: 50px;
    }
    .propTextPart{
        margin-top: 20%;
        .propText{
            text-align: center;
            font-size: @secondSize;
        }
    }
  }
}